[submodule "revelation"]
	path = revelation
	url = https://github.com/wangjiezhe/awesome-revelation.git
[submodule "net_widgets"]
	path = net_widgets
	url = https://github.com/wangjiezhe/net_widgets.git
